  <h1> Dice Roll </h1> 
    <body> 
      <ul> 
        <li> <a href=\"/dice/2/6\" target=_blank>Roll two six-sided die </a> 
        <li> <a href=\"/dice/2/10\" target=_blank>Roll two ten-sided die </a>
        <li> <a href=\"/dice/1/20\" target=_blank>Roll one twenty-sided die </a>  
        <li> <a href=\"/dice/5/4\" target=_blank>Roll five four-sided die </a> 
      </ul>
    </body>
